 footer {
    background-color: #0072bb;
    color:white;
    padding: 10px;
    position: relative;
    width:100%;
    bottom: 0;
    letter-spacing: 0.5px;
    align-items: center;
    z-index: 1;
  }