header {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100vh;                        /* Ocupa toda a largura */
  background-color: #0072bb;          /* Azul padrão SENAI */
  color: white;                       /* Texto branco */
  padding: 10px 0;                    /* Espaçamento interno */
  font-size: 20px;                   /* Tamanho de texto maior */
  font-weight: bold;                  /* Texto em negrito */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* Sombra abaixo do cabeçalho */
  text-align: center;
  display: flex;
  flex-direction: column;
}
header nav{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
header h2{
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 30px;
  padding: 0 10px;
}


.menu-principal a {
  color: #005b96;           /* Azul escuro para links */
  text-decoration: none;    /* Remove o sublinhado */
}

.menu-principal a:hover {
  text-decoration: underline; /* Sublinha ao passar o mouse */
}

a{
  text-decoration: none;
  color: white;
}

.a:visited{
  color: white;

}
nav {
  display: flex;
  flex-direction: column;
  gap: 15px; /* espaço entre os botões */
  margin-top: 20px;
}

.botao-menu {
  background-color: #ffffffc0;      /* cor do quadrado */
  color: #0073bb;
  padding: 12px 20px;
  border-radius: 8px;             /* arredondamento opcional */
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  width: 120px;                   /* deixa os quadrados iguais */
  transition: 0.2s;
  font-size: medium;
}

.botao-menu:hover {
  background-color: #ffffff;
}
