.pagina-inicio {
    
  width: 100%;
  max-width: 900px;  
  background-color: #3c64d3;
  color:rgb(0, 0, 0);
  padding: 10px;
  margin: 5px;
  width:100%;
  bottom: 0;
  border-radius: 12px;
  letter-spacing: 2px;
}
