body {
  text-align: center;
  overflow-x: hidden;
}

.quadradoE {
  width: 100%;
  background-color: #ffffffbb;
  margin: auto;
  border-radius: 12px;
box-shadow: 11px 11px 17px rgba(0, 0, 0, 0.427);
  display: grid; /* transforma em container flex */
  flex-direction: column; /* mantém o texto empilhado */
  justify-content: center; /* centraliza verticalmente */
  align-items: center; /* centraliza horizontalmente */

  text-align: center; /* garante que o texto fique centralizado */
  position: relative;
  margin-bottom: 15px;
}
p {
  font-size: 19px;
}
.Home{
  margin-top: 100px;
  width: 65%;
    margin: 50px auto;
    margin-right:225px;
    padding: 20px;
    background-color: #0073bb;
    border-radius: 40px;
    height: 100%;

}


